{% extends "base.html" %}
{% block title %}Page 2{% endblock %}
{% block content %}

    <div class="page-content">
        <h1>Cityscapes</h1>
        <div class="image-gallery">
            <div class="gallery-row">
                <div class="image-container">
                    <img class="pied_reflect" src="{{ url_for('static', filename='images/piedmont_reflect.jpg') }}" alt="Piedmont Park Reflection">
                </div>
                <div class="image-container">
                    <img class="skyline" src="{{ url_for('static', filename='images/skyline.jpg') }}" alt="Atlanta Skyline">
                </div>
            </div>
        </div>
    </div>
{% endblock %}